/* Import a serif font for the Tania Candiani logo */

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #ffffff;
    --foreground: #000000;
  }
}

@font-face {
    font-family: 'DINNextLTPro';
    src: url('/fonts/DINNextLTPro-Bold.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'DINNextLTPro';
    src: url('/fonts/DINNextLTPro-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'DINNextLTPro';
    src: url('/fonts/DINNextLTPro-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'DINNextLTPro';
    src: url('/fonts/DINNextLTPro-Regular.otf') format('opentype');
    font-weight: 400;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'DINNextLTPro', sans-serif;
}


h2 {
  font-size: 80px;
  font-weight: 400;
  line-height: 1.6;
  margin-left: -4px;
}

p {
  font-size: 18px;
  font-weight: 400;

}

h4 {
  font-size: 33px;
  font-weight: bold;
}


h3 {
  font-size: 69px;
  font-weight: 500;
}


